@import 'src/styles/vars';

.planning{
  margin-top: 40px;
  min-height: calc(100vh - 40px);
  padding: 30px;
  background-color: #f0ede8 ;

  &-calendar{
    max-width: 1200px;
    margin: 1rem auto;
    background-color: #fdfdfd;
    padding: 3rem;
    box-shadow: 0px 0px 71px -9px rgba(0,0,0,0.41);
  }
  .rbc-event-label {
    display: none;
  }
}

@media( max-width: 600px){
  .planning{
    padding: 30px 0;

    &-calendar{
      padding: 1rem 0;
    }
  }

  .rbc-toolbar{
    display: flex;
    flex-direction: column;
    line-height: 2.5;
  }
}