.leaflet-container {
  height: 300px;
  margin: -150px -2rem 0;
  width: 100%;
  max-width: 700px;
  text-align: right;
  top: 150px;
  align-self: flex-end;
  box-shadow: 0px 0px 71px -9px rgba(0,0,0,0.41);
}